<% include header.html %>


<header class="masthead">
    <div class="container h-100 main">
        <div class="row">
            <p><%= __('Please login to access application') %></p> 
        </div>
        <div class="row">
            <form method="POST">
                <div class="form-group">
                <label for="exampleInputEmail1"><%= __('Email address') %></label>
                <input type="email" name="email" value="<%= email %>" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
                <dv class="error"><%= error %></dv>
            </form>
        </div>
    </div>
</header>

<% include footer.html %>